#!/usr/bin/env python
PACKAGE = "mrs_uav_state_estimators"

import roslib;
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

noise = gen.add_group("process_noise");

noise.add("pos", double_t, 1, "Process noise covariance of position state", 0.0, 0.0, 100000.0)
noise.add("vel", double_t, 1, "Process noise covariance of velocity state", 0.0, 0.0, 100000.0)

exit(gen.generate(PACKAGE, "heading_estimator", "HeadingEstimator"))
