<launch>

  <!-- ===================== compulsory args ==================== -->
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE UNSET)" />
  <arg name="UAV_TYPE" default="$(optenv UAV_TYPE UNSET)" />
  <arg name="ODOMETRY_TYPE" default="$(optenv ODOMETRY_TYPE UNSET)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME UNSET)" />

  <!-- ====================== optional args ===================== -->
  <arg name="PROPULSION_TYPE" default="$(optenv PROPULSION_TYPE default)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="PIXGARM" default="$(optenv PIXGARM false)" />
  <arg name="SENSORS" default="$(optenv SENSORS)" />
  <arg name="BODY_DISTURBANCE_X" default="$(optenv INITIAL_DISTURBANCE_X 0.0)" />
  <arg name="BODY_DISTURBANCE_Y" default="$(optenv INITIAL_DISTURBANCE_Y 0.0)" />
  <arg name="DEBUG" default="$(optenv DEBUG false)" />
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />
  <arg name="WORLD_FILE" default="$(optenv WORLD_FILE)" />
  <arg name="WORLD_NAME" default="$(optenv WORLD_NAME simulation)" />
  <arg name="UAV_MASS" default="$(optenv UAV_MASS)" />

  <!-- ============== check for the compulsory args ============= -->
  <arg if="$(eval arg('RUN_TYPE') == 'UNSET')" name="SET_RUN_TYPE_ENV_VARIABLE" default="$(env MISSING_RUN_TYPE)" />
  <arg if="$(eval arg('UAV_TYPE') == 'UNSET')" name="SET_UAV_TYPE_ENV_VARIABLE" default="$(env MISSING_UAV_TYPE)" />
  <arg if="$(eval arg('ODOMETRY_TYPE') == 'UNSET')" name="SET_ODOMETRY_TYPE_ENV_VARIABLE" default="$(env MISSING_ODOMETRY_TYPE)" />
  <arg if="$(eval arg('UAV_NAME') == 'UNSET')" name="SET_UAV_NAME_ENV_VARIABLE" default="$(env MISSING_UAV_NAME)" />

  <arg if="$(eval not arg('LOGGER_DEBUG'))" name="STANDALONE" default="$(optenv STANDALONE false)" />
  <arg if="$(eval arg('LOGGER_DEBUG'))" name="STANDALONE" default="true" />

  <!-- currently, ROS_MASTER_URI has to be set to http://localhost:11311 otherwise ROS dies when -->
  <!-- the drone disconnects from wifi -->
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="ROS_MASTER_URI" default="$(optenv ROS_MASTER_URI none)" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav' and arg('ROS_MASTER_URI') != 'http://localhost:11311')" name="SET_YOUR_ROS_MASTER_URI_TO_LOCALHOST" default="$(env MISSING_ROS_MASTER_URI)" />

  <!-- custom configs args -->
  <arg name="config_constraint_manager" default="" />
  <arg name="config_gain_manager" default="" />
  <arg name="config_uav_manager" default="" />
  <arg name="config_control_manager" default="" />
  <arg name="config_odometry" default="" />
  <arg name="config_trajectory_generation" default="" />

  <!-- custom configs for trackers -->
  <arg name="config_joy_tracker" default="" />
  <arg name="config_landoff_tracker" default="" />
  <arg name="config_line_tracker" default="" />
  <arg name="config_matlab_tracker" default="" />
  <arg name="config_mpc_tracker" default="" />
  <arg name="config_flip_tracker" default="" />
  <arg name="config_uav_names" default="" />

  <!-- custom configs for controllers -->
  <arg name="config_failsafe_controller" default="" />
  <arg name="config_mpc_controller" default="" />
  <arg name="config_emergency_controller" default="" />
  <arg name="config_se3_controller" default="" />

  <arg name="config_motor_params" default="" />

  <arg name="g" default="9.81" />
  <arg name="n_threads" default="16" />

  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') != '')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_$(arg WORLD_NAME).yaml" />
  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') == '' and arg('RUN_TYPE') == 'simulation')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_simulation.yaml" />
  <arg if="$(eval arg('WORLD_FILE') != '')" name="world_file" value="$(arg WORLD_FILE)" />

  <!-- NodeletManager //{ -->

  <include file="$(find mrs_uav_general)/launch/nodelet_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="debug" value="$(arg DEBUG)" />
    <arg name="n_threads" value="$(arg n_threads)" />

  </include>

  <!-- //} -->

  <!-- ControlManager //{ -->

  <include file="$(find mrs_uav_state_estimation)/launch/core/control_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="BODY_DISTURBANCE_X" value="$(arg BODY_DISTURBANCE_X)" />
    <arg name="BODY_DISTURBANCE_Y" value="$(arg BODY_DISTURBANCE_Y)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />
    <arg name="ODOMETRY_TYPE" value="$(arg ODOMETRY_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="WORLD_FILE" value="$(arg world_file)" />
    <arg name="g" value="$(arg g)" />
    <arg name="custom_config" value="$(arg config_control_manager)" />

    <arg name="custom_config_motor_params" value="$(arg config_motor_params)" />

    <arg name="custom_config_joy_tracker" value="$(arg config_joy_tracker)" />
    <arg name="custom_config_landoff_tracker" value="$(arg config_landoff_tracker)" />
    <arg name="custom_config_line_tracker" value="$(arg config_line_tracker)" />
    <arg name="custom_config_matlab_tracker" value="$(arg config_matlab_tracker)" />
    <arg name="custom_config_mpc_tracker" value="$(arg config_mpc_tracker)" />
    <arg name="custom_config_flip_tracker" value="$(arg config_flip_tracker)" />
    <arg name="custom_config_uav_names" value="$(arg config_uav_names)" />

    <arg name="custom_config_failsafe_controller" value="$(arg config_failsafe_controller)" />
    <arg name="custom_config_mpc_controller" value="$(arg config_mpc_controller)" />
    <arg name="custom_config_emergency_controller" value="$(arg config_emergency_controller)" />
    <arg name="custom_config_se3_controller" value="$(arg config_se3_controller)" />

  </include>

  <!-- //} -->

  <!-- Odometry //{ -->

  <!-- <include file="$(find mrs_uav_odometry)/launch/odometry.launch"> -->

  <!--   <arg name="UAV_NAME" value="$(arg UAV_NAME)" /> -->
  <!--   <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" /> -->
  <!--   <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" /> -->
  <!--   <arg name="ODOMETRY_TYPE" value="$(arg ODOMETRY_TYPE)" /> -->
  <!--   <arg name="PROFILER" value="$(arg PROFILER)" /> -->
  <!--   <arg name="PIXGARM" value="$(arg PIXGARM)" /> -->
  <!--   <arg name="SENSORS" value="$(arg SENSORS)" /> -->
  <!--   <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" value="$(arg UAV_MASS)" /> -->
  <!--   <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" /> -->

  <!--   <arg name="standalone" value="$(arg STANDALONE)" /> -->
  <!--   <arg name="WORLD_FILE" value="$(arg world_file)" /> -->
  <!--   <arg name="custom_config" value="$(arg config_odometry)" /> -->

  <!-- </include> -->

  <!-- //} -->

  <!-- MavrosDiagnostics //{ -->

  <include file="$(find mrs_mavros_interface)/launch/mavros_diagnostics.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />

  </include>

  <!-- //} -->

  <!-- ConstraintManager //{ -->

  <include file="$(find mrs_uav_state_estimation)/launch/core/constraint_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="custom_config" value="$(arg config_constraint_manager)" />

  </include>

  <!-- //} -->

  <!-- GainManger //{ -->

  <include file="$(find mrs_uav_state_estimation)/launch/core/gain_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="custom_config" value="$(arg config_gain_manager)" />

  </include>

  <!-- //} -->

  <!-- UavManager //{ -->

  <include file="$(find mrs_uav_state_estimation)/launch/core/uav_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />
    <arg name="ODOMETRY_TYPE" value="$(arg ODOMETRY_TYPE)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="WORLD_FILE" value="$(arg world_file)" />
    <arg name="g" value="$(arg g)" />
    <arg name="custom_config" value="$(arg config_uav_manager)" />
    <arg name="custom_config_motor_params" value="$(arg config_motor_params)" />

  </include>

  <!-- //} -->

  <!-- Trajectory generation //{ -->

  <include file="$(find mrs_uav_trajectory_generation)/launch/trajectory_generation.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="LOGGER_DEBUG" value="$(arg LOGGER_DEBUG)" />

    <arg name="custom_config" value="$(arg config_trajectory_generation)" />

  </include>

  <!-- //} -->

</launch>
